body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6a6a6ab5;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff6e;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0);
}

input[type="text"],
input[type="password"],
input[type="submit"],
button {
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none; /* Remove default focus outline */
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="submit"]:focus,
button:focus {
    border-color: #5e9ed6; /* Highlight input fields on focus */
}

.blur-area {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    filter: blur(10px);
}

.logout-btn {
    float: right;
    background-color: #e53935;
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.logout-btn:hover {
    background-color: #c62828;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

.no-files {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #777777;
}
